Source:  carnet-o-matic
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: webcam-datastore
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.7), python-ldap, python-mysqldb, python-opencv, python-gtk2
Description: datastore enabled webcam photo capture program
 The program uses any simple webcam to capture photos. Images are then
 uploaded to a centralized datastore-server for future use.

#Package: ausias-webcam-datastore
#Architecture: all
#Depends: ${misc:Depends}, webcam-datastore
#Description: CIPFP Ausias March specific package for webcam-datastore
# The package installs and configures webcam-datastore with specific
# configuration for CIPFP Ausias March intranet

